* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Battambang", system-ui;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0e9ec;
    background: radial-gradient(circle, rgba(240, 233, 236, 1) 0%, rgba(41, 140, 34, 1) 100%);
}

.wrapper {
    height: 500px;
    width: 420px;
    background: transparent;
}

.wrapper h1 {
    display: flex;
    justify-content: center;
    font-size: 48px;
    color: #1D9534;
}
.input-box {
    display: flex;
    flex-direction: column;
    background: transparent;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-box input, select {
    background: transparent;
    border: #079807 2px solid ;
    border-radius: 40px;
    width: 100%;
    height: 100%;
    padding: 20px 25px 20px 20px;
}

.reg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reg button{
    font-size: 18px;
    font-weight: 600;
    background: #65ed80;
    border: #189c18 2px solid ;
    border-radius: 40px;
    width: 50%;
    height: 50px;
    cursor: pointer;
    gap: 8px;
    
}
.enter {
    display: flex;
    justify-content: center;
    color:black;
}